body{
    margin-top: 20px;
}

.contenido{
    border: 1px solid black;
    background-color: rgb(216, 185, 185);
}

.texto{
    background-color: aquamarine;
    border: 2px solid black;
}

.caja{
    padding: 10px;
    text-align: center;
}

.color{
    background-color: coral;
}

.color1{
    background-color: rgb(255, 80, 197);
}

.color2{
    background-color: green;
}

